@font-face {
   font-family: 'RussianRail-G-Pro-Medium_39010';
   font-display: swap;
   src: url('file:///C:/Users/administrator.W7-62/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-04_095021/fonts/RussianRail-G-Pro-Medium_39010/font.ttf');
}
